/**
 * markdown
 * -------------------------------------------------------------------------- */
/* image */
.vp-doc p img {
  width: 100%;
}

/**
 * Sidebar
 * -------------------------------------------------------------------------- */
.aside .outline-marker {
  width: 2px;
}

/**
 * Code
 * -------------------------------------------------------------------------- */
.shiki .line span {
  font-family: 'cascadia code', 华文中宋, 'Courier New', monospace;
}
